* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #2B303A;
}

h2 {
    font-size: 5rem;
    background-image: linear-gradient(#0C7C59, #D64933);

}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10rem;
    width: 100%;
}

.main {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    width: 100%;
    color: white;
}

.sep {
    width: 100%;
    border: 0.1rem solid white;
}

h4 {
    color: white;
    font-size: 2rem;
}